<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="monogo" translate="label" sortOrder="500">
            <label>Monogo</label>
        </tab>
        <section id="products" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Products assign</label>
            <tab>monogo</tab>
            <resource>Monogo_Recruitment::configuration</resource>
            <group id="assign" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" >
                <label>General Configuration</label>
                <field id="size" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Size of products to be assigned as default</label>
                </field>
                <field id="api_username" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>QR API username</label>
                </field>
                <field id="api_password" translate="label" type="password" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>QR API password</label>
                </field>
                <field id="debug" translate="label" type="select" sortOrder="40" showInDefault="1" canRestore="1">
                    <label>API Debug mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
